---
import Layout from "../layouts/Layout.astro";
import PageTitle from "@/components/PageTitle.astro";
---

<Layout title="Not Found" theme="green" blobType="rounded-star">
  <div class="md:flex md:h-full md:w-full md:justify-center md:px-16 md:py-4">
    <section>
      <h1 class="mb-8 text-center text-8xl font-bold">404</h1>
      <p class="mb-16 text-center text-lg">
        Ops! You have reached a page that doesn't exist. Please check the URL or
        return to the homepage.
      </p>
      <div class="flex items-center justify-center">
        <pre
          role="img"
          aria-label="ASCII art of bongo cat waving one of its paws"
          class="w-auto justify-center text-[8px] md:text-[12px]">{`
в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвўҖвЈҙвЈҝвЈҝвЎ·вЈ„в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җ
в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвўҖвЈҙвЈҝвЎҝв Ӣв Ҳв »вЈ®вЈівЎҖв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җ
в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвўҖвЈ вЈҙвЈҫвЎҝв Ӣв Җв Җв Җв Җв ҷвЈҝвЈҝвЈӨвЈҖвЎҖв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җ
в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвўҖвЈӨвЈ¶вЈҝвЎҝв ҹв ӣв үв Җв Җв Җв Җв Җв Җв Җв Ҳв ӣв ӣв ҝв ҝвЈҝвЈ·вЈ¶вЈӨвЈ„вЈҖв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җ
в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвЈ вЈҙвЈҫвЎҝв ҹв Ӣв Ғв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Ҳв үв ӣв »в ҝвЈҝвЈ¶вЈҰвЈ„вЎҖв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җ
в Җв Җв ҖвЈҖвЈ вЈӨвЈӨвЈҖвЎҖв Җв ҖвЈҖвЈҙвЈҝвЎҝв ӣв Ғв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв үв ӣв ҝвЈҝвЈ·вЈҰвЈ„вЎҖв Җв Җв Җв Җв Җв Җв ҖвўҖвЈҖвЈӨвЈ„в Җв Җ
вўҖвЈӨвЈҫвЎҝв ҹв ӣв ӣвўҝвЈҝвЈ¶вЈҫвЈҝв ҹв үв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв үв ӣв ҝвЈҝвЈ·вЈҰвЈҖвЈҖвЈӨвЈ¶вЈҝвЎҝв ҝвўҝвЈҝвЎҖв Җ
вЈҝвЈҝв Ҹв Җвў°вЎҶв Җв Җв үвўҝвЈҝвЎҖв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҷв »вўҝвЎҝв ҹв Ӣв Ғв Җв ҖвўёвЈҝв Үв Җ
вЈҝвЎҹв ҖвЈҖв ҲвЈҖвЎҖв ’в ғв Җв ҷвЈҝвЎҶв Җв Җв Җв Җв Җв Җв ҖвЈҖвЎҖв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвўёвЈҝв Үв Җ
вЈҝвЎҮв Җв ӣвў вЎӢвўҷвЎҶв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвЈҫвЈҝвЈҝв „в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвЈҝвЈҝв Җв Җ
вЈҝвЈ§в Җв Җв Җв “в ӣв Ғв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҳв ӣв Ӣв Җв ҖвўёвЈ§вЈӨвЈӨвЈ¶вЎҖв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җвў°вЈҝвЎҝв Җв Җ
вЈҝвЈҝвЈӨвЈҖвЎҖв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв үв үв үв »вЈ·вЈ¶вЈ¶вЎҶв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвўҖвЈҝвЈҝв Ғв Җв Җ
в Ҳв ӣв »в ҝвўҝвЈҝвЈ·вЈ¶вЈҰвЈӨвЈ„вЈҖвЎҖв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвЈҙвЈҝвЈ·в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвЈҫвЈҝвЎҸв Җв Җв Җ
в Җв Җв Җв Җв Җв Җв Җв үв ҷв ӣв »в ҝвўҝвЈҝвЈ·вЈ¶вЈҰвЈӨвЈ„вЈҖвЎҖв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҷв ҝв ӣв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҳвўҝвЈҝвЎ„в Җв Җ
в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Ҳв үв ҷв ӣв »в ҝвўҝвЈҝвЈ·вЈ¶вЈҰвЈӨвЈ„вЈҖвЎҖв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҲвўҝвЈҝвЎ„в Җ
в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв үв үв ӣв ӣв ҝв ҝвЈҝвЈ·вЈ¶вЈ¶вЈӨвЈӨвЈҖвЎҖв Җв Җв ҖвўҖвЈҙвЎҶв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҲвўҝвЎҝвЈ„
в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв үв үв ӣв ӣв ҝв ҝвЈҝвЈ·вЈ¶вЎҝв Ӣв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҲвЈҝвЈ№
в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвЈҝвЈҝв ғв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвўҖвЈҖвЈҖв Җв Җв Җв Җв Җв ҖвўёвЈ§
в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җвў»вЈҝвЈҶв Җв Җв Җв Җв Җв ҖвўҖвЈҖвЈ вЈӨвЈ¶вЈҫвЈҝвЈҝвЈҝвЈҝвЈӨвЈ„вЈҖвЎҖв Җв Җв ҖвЈҝ
в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Ҳв »вўҝвЈ»вЈ·вЈ¶вЈҫвЈҝвЈҝвЎҝвўҜвЈӣвЈӣвЎӢв Ғв Җв Җв үв ҷв ӣв ӣв ҝвЈҝвЈҝвЎ·вЈ¶вЈҝ
        `}</pre>
      </div>
      <div class="h-56 md:h-0"></div>
      <p
        class="text-center text-sm md:h-0 md:text-[0px]"
        role="img"
        aria-label="Happy kaomoji waving"
      >
        (пҫүв—•гғ®в—•)пҫү*:пҪҘпҫҹвң§ вң§пҫҹпҪҘ: *гғҪ(в—•гғ®в—•гғҪ)
      </p>
    </section>
  </div>
</Layout>
