---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog" theme="green" blobType="rounded-star">
  <div class="flex h-full w-full flex-col items-center justify-center">
    <h1 class="text-6xl font-bold">Blog</h1>
    <p class="mt-8 text-2xl">This is the blog page with a green theme!</p>
  </div>
</Layout>
