---
import Layout from "../layouts/Layout.astro";
import PageTitle from "@/components/PageTitle.astro";
---

<Layout title="Blog" theme="green" blobType="rounded-star">
  <PageTitle text="Blog" />
  <p class="mt-8 text-xl">Work in Progress!</p>
</Layout>
