---
import Layout from "@/layouts/Layout.astro";
import PageTitle from "@/components/PageTitle.astro";
import TechIcon from "@/components/TechIcon.astro";
import { siGithub } from "simple-icons";
import linkedin from "@/assets/icons/linkedin.svg?raw";

const formActionUrl = "https://formsubmit.co/a9vata6qp@mozmail.com";
---

<Layout title="Contact" theme="purple" blobType="circle-pentagon">
  <PageTitle text="More about me?" />
  <div class="flex w-full flex-col gap-6 md:flex-row md:gap-24">
    <section class="mb-4 flex w-full flex-col gap-6 md:w-1/2">
      <p>
        You can find more about me on the following sites! I will be happy to
        connect with you:
      </p>

      <div
        class="flex w-full flex-row justify-center gap-8 md:justify-start md:gap-12"
      >
        <a
          href="https://github.com/Seb0927"
          target="_blank"
          rel="noopener noreferrer"
        >
          <TechIcon svg={siGithub.svg} class="size-8 md:size-14" />
        </a>
        <a
          href="https://www.linkedin.com/in/sebastianidroboavirama/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <TechIcon svg={linkedin} class="size-8 md:size-14" />
        </a>
      </div>
    </section>

    <section class="flex w-full flex-col gap-6 md:w-1/2">
      <p>Or feel free to reach me out. No compromise</p>
      <form class="w-full" action={formActionUrl} method="POST">
        <div class="mb-6 flex flex-wrap lg:-ml-3">
          <div class="w-full lg:mb-0 lg:w-1/4 lg:px-3">
            <label class="mb-1 block text-sm italic" for="name">Name:</label>
            <input
              class="mb-3 block w-full appearance-none rounded bg-(--theme-light) px-4 py-3 text-black focus:ring-2 focus:ring-(--theme-darkest) focus:outline-none"
              id="name"
              type="text"
              name="name"
            />
          </div>
          <div class="w-full lg:mb-3 lg:w-3/4 lg:px-3">
            <label class="mb-1 block text-sm italic" for="email">Email:</label>
            <input
              class="mb-3 block w-full appearance-none rounded bg-(--theme-light) px-4 py-3 text-black focus:ring-2 focus:ring-(--theme-darkest) focus:outline-none"
              id="email"
              type="text"
              name="email"
            />
          </div>
          <div class="w-full lg:px-3">
            <label class="mb-1 block text-sm italic" for="message"
              >Message:</label
            >
            <textarea
              class="mb-6 block h-36 max-h-56 min-h-12 w-full appearance-none rounded bg-(--theme-light) px-4 py-3 text-black focus:ring-2 focus:ring-(--theme-darkest) focus:outline-none"
              id="message"
              name="message"></textarea>
          </div>
          <div class="mx-3 flex w-full justify-center">
            <button
              type="submit"
              class="block cursor-pointer appearance-none rounded-full bg-(--theme-default) px-12 py-2 font-bold text-(--theme-darkest) hover:bg-(--theme-darkest) hover:text-(--theme-lightest)"
            >
              Send
            </button>
          </div>
        </div>
      </form>
    </section>
  </div>
</Layout>
