---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact" theme="purple" blobType="circle-pentagon">
  <div class="flex h-full w-full flex-col items-center justify-center">
    <h1 class="text-6xl font-bold">Contact</h1>
    <p class="mt-8 text-2xl">This is the contact page with a purple theme!</p>
  </div>
</Layout>
