---
import Layout from "../layouts/Layout.astro";
import PageTitle from "@/components/PageTitle.astro";
---

<Layout title="Contact" theme="purple" blobType="circle-pentagon">
  <PageTitle text="Contact" />
  <p class="mt-8 text-2xl">This is the contact page with a purple theme!</p>
</Layout>
