---
import Layout from "../layouts/Layout.astro";
import PageTitle from "@/components/PageTitle.astro";
import ExperienceCard from "@/components/ExperienceCard.astro";
import line from "@/assets/vectors/line.svg?raw";
import curve from "@/assets/vectors/curve.svg?raw";

interface Experience {
  title: string;
  description: string;
  date: string;
}

const experiences: Experience[] = [
  {
    title: "Panamerican Games Volunteer",
    description:
      "I facilitated effective communication between English-speaking individuals and the teams responsible for organizing the games.",
    date: "2023",
  },
  {
    title: "Academic Assistant",
    description:
      "I provided socio-educational support to first-semester students to offer academic assistance in programming courses.",
    date: "2024",
  },
  {
    title: "Technical Support Monitor",
    description:
      "I provided technical support for audiovisual and computer equipment in classrooms and labs at Universidad del Valle",
    date: "2024",
  },
  {
    title: "Software Developer Intern",
    description:
      "I built an interactive web application for dynamic visualization of key indicators, and support ETL processes that gathered data",
    date: "2025",
  },
  {
    title: "Implementation Consultant",
    description:
      "I led the onboarding lifecycle through timelines, effective customer transitions toward optimal product adoption.",
    date: "2025",
  },
];

function snakeOrder(index: number, cols: number): number {
  const row = Math.floor(index / cols);
  const posInRow = index % cols;
  if (row % 2 === 0) {
    return row * cols + posInRow + 1;
  }
  return row * cols + cols - posInRow;
}
---

<Layout title="Experience" theme="amber" blobType="diamond-medium-alternates">
  <PageTitle text="Experience" />

  <div
    class="grid h-full w-full grid-cols-1 gap-y-32 md:grid-cols-2 2xl:grid-cols-3"
  >
    {
      experiences.map((exp, i) => (
        <ExperienceCard
          title={exp.title}
          description={exp.description}
          date={exp.date}
          position={i % 2 === 0 ? "top" : "bottom"}
          orderSm={i + 1}
          orderMd={snakeOrder(i, 2)}
          orderXl={snakeOrder(i, 3)}
        />
      ))
    }

    <!-- Emtpy element for filling gaps -->
    <li
      class="experience-card hidden md:order-6 relative order-6 md:flex h-140 flex-1 flex-col items-center 2xl:order-4"
    >
      <div
        class="absolute top-1/2 left-0 -z-10 w-full border-t border-(--theme-darkest)"
        aria-hidden="true"
      >
      </div>
    </li>
  </div>
</Layout>
