---
import Layout from "../layouts/Layout.astro";
import PageTitle from "@/components/PageTitle.astro";
---

<Layout title="Experience" theme="amber" blobType="diamond-medium-alternates">
  <PageTitle text="Experience" />
  <p class="mt-8 text-2xl">
    This is the experience page with an amber theme!
  </p>
</Layout>
